*{
    color:#373A3C;
}

.navbar{
    background: #373A3C;
    color: #FFFFFF;
}

#hr2{
  border: 1px solid #373A3C;
}
#ricomidalogo{
    font-family:"Lobster", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 37pt;
}
#navbarNav ul li a{
   color:#FFFFFF;
   font-size: 16pt;
   font-weight: 400;
   font-family: "Cabin", sans-serif;
 }

.hrinicio {
  margin-top: 5.01rem;
}

@media (min-width: 768px) {
  .hrinicio {
    display: none;
  }
}


#imagenprincipal{
width:  0 auto;
margin-top: 2rem;
}

@media (min-width: 768px) {
  #imagenprincipal {
    padding-top: 80px;
  }
}

.texto h1{
    font-weight:700;
    font-family: "Cabin", sans-serif;
    font-size: 25pt;
    color:#373A3C;
    text-align: left;
    padding-top: 0;
    text-align: center;
}



.card-text {
  font-size: 16pt;
  text-align: center;
}

@media (min-width: 768px) {
  .card-text {
  text-align: start;
  font-size: 20pt;
}
  
  .texto h1 {
    padding-top: 5.5rem;
    font-size: 40pt;
    text-align: start;
  }
}

.botones .buttonprincipal{
  color:#373A3C;
  font-weight: 400;
  font-family: "Cabin", sans-serif;
  border: 2pt solid #DDDDDD; 
  margin-right: 0 !important;
  margin: 0 auto;
}
.botones .buttonprincipal:first-of-type{
  margin-right: 1rem !important;
}

@media (min-width: 768px) {
  .botones .buttonprincipal{
    margin: 0 0;
    font-size: 18pt;
  }
}



p{
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    color: #373A3C;
    font-size: 20pt;
    text-align: left;
}

.carousel-item img {
  width: 19rem;
}

.items img {
  margin: .4rem;
}


ul {
  list-style: none;
}

ul {
  padding-left: 0 !important;
}
 
 .receta h3, .masa, ul, li{
    font-size: 20pt;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    color:#373A3C;
    text-align:left;
  }

  
.recetasvarias h2{
    color:#373A3C;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 40pt
}


.recetasvarias h3{
    color:#373a3c;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 23pt;
    text-align: left;
}

@media (max-width: 768px) {
  .recetasvarias h3 {
    margin: 0 !important;
  }
}

.recetasvarias p{
    color:#373a3c;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 17pt;
    text-align: left;
}


.newsletter{
    background:#DC3545 ;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .newsle{
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 10rem auto 14rem;
  }

  .newsletter h3{
     color:#FFFFFF; 
    font-size: 40pt;
    font-weight: 700;
    font-family: "Cabin", sans-serif;
  }

.newsletter p{
    color:#FFFFFF; 
    font-size: 25pt;
    font-weight: 400;
    font-family: "Cabin", sans-serif;
    text-align: center;
}

  .newsletter span{
    font-family:"Lobster", sans-serif;
    color:#FFFFFF;
    font-size: 30pt;
    font-weight: 400;
  }

  .newsletter .buttonempezar{
   color:#FFFFFF;
   font-size: 18pt;
   font-weight: 400;
   font-family: "Cabin", sans-serif;
   width: 230pt;
  }
 footer{
    height: 110pt;
    background: #373A3C
 }
  
.footerparrafo{
    color:#DDDDDD;
    font-family:"Lobster", sans-serif;
    font-size: 37pt;
    font-weight: 400;
}

